<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationIDs</key>
	<array/>
	<key>AudiobookPlaylistIDs</key>
	<array/>
	<key>AudiobookTrackIDs</key>
	<array/>
	<key>BookTrackIDs</key>
	<array/>
	<key>LibraryBookTrackIDs</key>
	<array/>
	<key>MoviePlaylistIDs</key>
	<array/>
	<key>MovieTrackIDs</key>
	<array/>
	<key>MusicAlbumIDs</key>
	<array/>
	<key>MusicArtistIDs</key>
	<array/>
	<key>MusicGenreNames</key>
	<array/>
	<key>MusicPlaylistIDs</key>
	<array/>
	<key>MusicTrackIDs</key>
	<array/>
	<key>PodcastChannelIDs</key>
	<array/>
	<key>PodcastPlaylistIDs</key>
	<array/>
	<key>PodcastTrackIDs</key>
	<array/>
	<key>RingtoneTrackIDs</key>
	<array/>
	<key>TVShowAlbumIDs</key>
	<array/>
	<key>TVShowNames</key>
	<array/>
	<key>TVShowPlaylistIDs</key>
	<array/>
	<key>TVShowTrackIDs</key>
	<array/>
	<key>iPodPrefs</key>
	<data>
	ZnJwZAEAGAABAQABlnm2+XrjZn0CaraZXLIGEAAAAAAAAAABAAAAAAAAAAAAAAAAAQAA
	AAACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAABiHZQtcBYqFQABAAQAAAAAlnm2+Xrj
	Zn0CAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AgAAAAEBAAAAAAAAAAAAAAEAAQABAAEAAAAAAAAAAAAAAAIAAAAAAAAAAAAAAAAAAAAA
	AAAAAPs2MDK0LpsWtypK2e7bPr+nfvioAAAAAAAAAAAAAAAAAAAAAP8AAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAEBAAQAAAAABwAAAAAAAQABAAAAAQEBgAAAAAAAAQAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARnJleWphMTk5MQAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEZSRVlKQQAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAARnJleWphMTk5MQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEZSRVlKQQAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGcmV5amExOTkx
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAARlJFWUpBAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAABGcmV5amExOTkxAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARlJFWUpBAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAA=
	</data>
	<key>iTunesUChannelIDs</key>
	<array/>
	<key>iTunesUPlaylistIDs</key>
	<array/>
	<key>iTunesUTrackIDs</key>
	<array/>
	<key>iTunesVersion</key>
	<string>12.3.1</string>
</dict>
</plist>
